$block-container-margin: 0;
$block-container-margin-md: 0 calc(100%/12);


$block-wrapper-compact: 1rem 0;
$block-wrapper-margin: 1.5rem 0;
$block-wrapper-margin-md: 3rem 0;

.sections {

    // block defaults
    .section {
        margin: $block-wrapper-margin;
        padding: 0;

        @include media-breakpoint-up(md) {
            margin: $block-wrapper-margin-md;
        }

        &:first-child {
            margin-top: 80px;
        }

        &.section--wide {
            .container {
                margin: $block-container-margin;

                @include media-breakpoint-up(md) {
                    padding: 0;
                }
            }
        }

        &.section--compact {
            margin: $block-wrapper-compact;
        }

        // highlight
        &.section--highlight {
            padding: 3rem 0;
            margin: 0;
            background-color: rgba($theme-color-blue, 0.4);

            &.section--compact {
                padding: 1rem 0;
            }
        }

        &.section--highlight-container {
            .container {
                padding: 3rem 4rem;
                background-color: rgba($theme-color-blue, 0.4);
            }
        }

        // carousel
        &.block-type-carousel {
            margin: 0;

            .container {
                margin: 0;
                padding: 0;
            }

            .slick-dots {
                display: none;
            }
        }

        // item showcases
        &.block-template-item-showcase-cards-startpage {
            margin-top: -6rem;
        }

        // html
        &.block-template-html-section-light {
            @extend .section--highlight;
        }

        // resource-text
        &.block-type-resource-text {

            .file {
                margin: 0;
                border: 0;
            }

            .item.resource:first-of-type {
                padding: 0;
            }

            .file.right {
                order: 1;
            }

            .resource img {
                width: 100%;
            }

            .row {
                --bs-gutter-x: 40px;
            }

            &.block-template-resource-text-highlight {

                .container {
                    margin: $block-container-margin;
                }

                // highlight text
                .text {
                    padding: 6%;
                    background-color: rgba(207, 231, 235, 0.4);
                }

                // make image fullscreen
                .text {
                    // flex: 1;
                }

                // cover image
                @include media-breakpoint-up(lg) {
                    .row {
                        --bs-gutter-x: 0;
                    }

                    .media {
                        overflow: hidden;
                        // flex: 1;
                        position: relative;

                        .attachments {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;

                            .item {
                                width: 100%;
                                height: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }

        }


    }
}