.blocks {

    // block defaults
    .block {
        margin: 1.5rem 0;
        padding: 0;

        @include media-breakpoint-up(md) {
            margin: 3rem 0;
        }

        &:first-child {
            margin-top: 80px;
        }
    }

    // carousel
    .block--carousel {
        margin: 0;

        .container {
            width: 100%;
            max-width: 100%;
            padding: 0;
        }
    }

    // item showcases
    .block--item-showcase--cards-startpage {
        margin-top: -4rem;

        .card {
            padding: 1rem 2rem;

            .card-body {
                font-size: $font-size-smaller;

                .card-text p {
                    line-height: 1.4;

                    big {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    // section-light
    .block--html--section-light {
        padding: 3rem;
        margin: 0;
        background-color: $theme-color-blue;
    }
}