.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
        border-radius: 0;
        border: 0;
    }

    .card-image {
        aspect-ratio: 16 / 10;
        overflow: hidden;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }    

    .card-title {
        @extend .h3;
    }

    .card-text {
        flex: 1 1;
        overflow: hidden;
    }

}

.cards--overlay {
    .card-body {
        display: flex;
        flex-direction: column;

        position: absolute;
        left: 50%;
        top: 45%;
        bottom: 0;

        padding: 2rem 1rem 1rem 2rem;
        background-color: $white;
        overflow: hidden;
        border-top-left-radius: 15px;

        .card-text * {
            font-size: 80%;
            line-height: 1.2rem !important;
        }
    }

    .card-title {
        margin: 0 0 0.2rem 0;
    }
}

.cards--startpage {
    gap: 0;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

    .card {
        width: 100%;
        padding: 2rem 2rem;
        background-color: white;
        border-radius: 0;

        .card-body {
            font-size: $font-size-smaller;

            .card-text p {
                line-height: 1.4;

                big {
                    font-weight: 500;
                }
            }
        }

        &:before {
            content: '';
            display: inline-block;
            width: 100%;
            height: 80px;
        }
    }

    .card-title {
        @extend h1;
        text-align: center;
    }

    .card-body {
        text-align: center;
    }

    .card-image {
        display: none;
    }



    .card--gent-verrijkt:before {
        background: no-repeat center url('../images/icoon_verrijkt.svg')
    }

    .card--de-kaart:before {
        background: no-repeat center url('../images/icoon_kaart.svg')
    }

}