body > .container-xl {
  padding: 0;
}

footer {
  border-top: 1px solid $theme-color-light-gray;
  //background-color: $theme-color-blue;
  color: $theme-color-black;
  font-size: $font-size-smaller;
  margin-top: 4rem;
}

$container-margin: 0;
$container-margin-md: 0 calc(100%/12);

.container {
  width: auto;
  max-width: unset;

  @include media-breakpoint-up(md) {
    margin: 0 calc(100%/12);
  }
}
