.navbar {
  z-index: 1005;
  padding: 0;
  min-height: 80px;

  .navbar-collapse {
    padding: 0 16px;
  }

  .navbar-brand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1006;
    height: 140px;
    padding: 0;
    margin: 0;

    background-color: #610345 !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .navbar-brand-image {
      height: 100%;
      padding: 30px 30px 17px 30px;

      img {
        height: 100%;
      }
    }

    .navbar-brand-border-left, .navbar-brand-border-right {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 75px;
    }

    .navbar-brand-border-left {
      left: -10px;
      border-top: 5px solid $primary;
      border-right: 5px solid $primary;
      border-top-right-radius: 15px;
    }

    .navbar-brand-border-right {
      right: -10px;
      border-top: 5px solid $primary;
      border-left: 5px solid $primary;
      border-top-left-radius: 15px;
    }

  }

  @include media-breakpoint-up(lg) {

    .navbar-collapse {
      display: flex;
      gap: 280px;

      .navbar-container-left, .navbar-container-right {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;

      }
    }

    .navbar-nav {

      li {
        flex: 1;
        text-align: center;
      }

      &.navbar-nav--first {
        li {
          margin: auto 0;
          a {
            background-color: $secondary;
            border-radius: 20px;
            text-transform: uppercase;
            font-size: $font-size-smaller;
            padding: 0.5rem 1rem;
          }
        }
      }
      &.navbar-nav--left, &.navbar-nav--right {
        flex: 1;
        justify-content: space-evenly;
      }
    }
  }

}

