
// colors
$theme-color-blue: #CFE7EB;
$theme-color-dark-gray: #909090;
$theme-color-light-gray: #E6E6E6;
$theme-color-red: #ED474A;
$theme-color-purple: #610345;
$theme-color-green: #5AD2A2;
$theme-color-black: #323232;



// colors
$background-color: white;
$font-color: $theme-color-black;

$body-color: $theme-color-black;

$primary: $theme-color-purple;
$secondary: $theme-color-red;
$tertiary: $theme-color-dark-gray;
$black: $theme-color-black;

$white: #fff;

$light: #e6e6e6;
$dark: $primary;

$light-gray: #aaa;

// fonts

$font-family-sans-serif: 'Graphik', sans-serif;
$font-family-serif: 'BrightonBold', serif;

$font-family: $font-family-sans-serif;

$font-size: 1rem;
$font-size-smaller: 0.9rem;
$font-size-small: 0.8rem;
$font-size-bigger: 1.1rem;
$font-size-big: 1.2rem;

// headings

//$headings-font-family: $font-family-serif;
//$headings-color: $primary;


// custom checkbox control

$custom-control-indicator-size: 1.3rem;
$custom-control-indicator-bg: $light;
$custom-control-indicator-active-bg: $light;
$custom-control-indicator-border-width: 4px;
$custom-control-indicator-border-color: $light;
$custom-control-indicator-focus-border-color: $light;
$custom-control-indicator-focus-box-shadow: none;
$custom-control-indicator-checked-bg: $secondary;
$custom-control-indicator-checked-border-color: $light;

$custom-checkbox-indicator-border-radius: 50%;
$custom-checkbox-indicator-icon-checked: none;

// navbar

$navbar-dark-color: $white;
$navbar-dark-active-color: $secondary;
$nav-link-font-weight: 500;
$nav-link-font-size: $font-size-bigger;
